@import "reset.scss";

@function between($from, $to, $fromWidth, $toWidth) {
  $slope: ($to - $from) / ($toWidth - $fromWidth);
  $base: $from - $slope * $fromWidth;

  @return calc(#{$base} + #{100vw * $slope});
}

$mobileMin: 600px;
$tabletMin: 900px;
$tabletMax: 1200px;
$screenMax: 1600px;
$desktopHuge: 3840px;

body {
  font-family: "Catamaran", sans-serif;
  font-size: between(16px, 17px, 0px, 600px);
  line-height: 1.625rem;

  @media (min-width: $screenMax) {
    font-size: between(17px, 24px, $screenMax, $desktopHuge);
  }

  @media (min-width: $desktopHuge) {
    font-size: 24px;
  }
}

h1 {
  font-size: between(35px, 48px, 0px, 600px);
  line-height: 4rem;

  @media (min-width: $mobileMin) {
    font-size: between(35px, 40px, 600px, 900px);
  }

  @media (min-width: $tabletMin) {
    font-size: between(30px, 34px, 600px, 900px);
  }
}

h2 {
  font-size: between(16px, 28px, 0px, 600px);
  line-height: 4rem;

  @media (min-width: $mobileMin) {
    font-size: between(35px, 40px, 600px, 900px);
  }

  @media (min-width: $tabletMin) {
    font-size: between(26px, 30px, 600px, 900px);
  }
}
